# CMake and Build Artifacts
__repo__/
debug/
/Release
/release 
*.launch
*.jlink
mcux_include.json

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.lib
*.dll

# Executables and Binaries
*.elf
*.bin
*.hex
*.axf
*.map

# Editor, IDE, and OS specifics
.vscode/
.idea/
*.suo
*.user
*.TMP
*.temp
.DS_Store
Thumbs.db